DB_DRIVER="mysql"
DB_SERVER="localhost"
DB_USER="root"
DB_PASSWORD=""
DB_DATABASE="craft_tests"
DB_SCHEMA=""
DB_TABLE_PREFIX="craft"
DB_PORT="3306"
SECURITY_KEY="abcde12345"
DEFAULT_SITE_URL="https://happylager.test/" # Set this to the `entryUrl` param in the `codeception.yml` file.
